<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>

<body>
<h3>Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <label for="firstName">First Name:
        <input type="text" id="firstName" th:field="*{firstName}"/>
    </label>

    <br><br>

    <label for="lastName">Last Name:
        <input type="text" id="lastName" th:field="*{lastName}"/>
    </label>

    <br><br>

    <label for="country">Country:
        <select id="country" th:field="*{country}">
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
        </select>
    </label>

    <br><br>

    Favorite Programming Language:
    <label th:each="language : ${languages}" th:for="${language}">
        <input type="radio" th:id="${language}"
               th:field="*{favoriteLanguage}"
               th:value="${language}"
               th:text="${language}"/>
    </label>

    <br><br>

    Favorite Operating System:
    <label th:each="system : ${systems}" th:for="${system}">
        <input type="checkbox" th:id="${system}"
               th:field="*{favoriteSystems}"
               th:value="${system}"
               th:text="${system}"/>
    </label>

    <br><br>

    <input type="submit"/>
</form>
</body>

</html>